* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --responsive--header: rgba(0, 132, 253, 1);
    --responsive--secondary: rgba(181, 221, 255, 1);
    --responsive--primary: rgba(151, 146, 228, 1);
    --responsive--footer-free: rgba(253, 193, 95, 1);
    --responsive--dark: rgba(51, 51, 51, 1);
    --responsive--light: rgba(255, 255, 255, 1);
}

body {
    font-family: PT Sans;
}

/* style of header */
#header {
    background-color: var(--responsive--header);
}

.container_header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 95%;
    margin: auto;
    max-width: 744px;

}

.container_logo img {
    margin-top: 10px;
}


/* style of containers */
.container_link a {
    text-decoration: none;
    color: var(--responsive--light);
    margin: 10px;
    display: none;
}

.custom_header_button {
    background-color: var(--responsive--light);
    padding: 5px;
    color: var(--responsive--dark);
    border-radius: 15px;
    border: none;
    display: none;
}

.container_link i {
    display: inline;
    color: var(--responsive--light);
}



.container {
    width: 95%;
    margin: auto;
    max-width: 744px;
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}


[class*="col-"] {
    padding: 1rem;
    /* border: 1px solid black; */
}



.container_get_started {
    width: 100%;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-6 {
    width: 50%;
}


.col-4 {
    width: calc((100% / 12) * 4);
}

/* style of cards first section  demo*/

.card {
    background-color: var(--responsive--secondary);
    border-radius: 1.5rem;
    gap: 1rem;
    display: flex;
    padding: 2rem 0rem 1rem 1rem;
}

.card_left h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--responsive--header);
}


.card_left button {
    width: 60%;
    background-color: var(--responsive--header);
    color: var(--responsive--light);
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border: none;
    border-radius: 20px;
}



.card_left i {
    margin-right: 10px;
}


.card_right img {
    width: 100%;
}



.card_small {
    text-align: center;
    flex-direction: column;
    padding-bottom: 16px;
    display: flex;
    background-color: var(--responsive--secondary);
    border-radius: 50px;
}

.card_small i {
    color: var(--responsive--header);
    font-size: 4.2rem;
    margin-top: 5px;
}


.bottom_card img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin-bottom: -0.5rem;
    ;
}

.top_card {
    flex-direction: column;
    gap: 1.7rem;
}

.top_card h2 {
    color: var(--responsive--header);

}


.text {
    font-weight: 700;
    color: rgb(143 133 133);
}


/* start style of container planning */


#planning {
    background-color: var(--responsive--primary);
}

/* start style cards planning */


.card_planning img {
    width: 80%;
    margin-left: 20px;

}

.card_planning h3 {
    font-weight: 600;
    color: var(--responsive--light);
    margin-bottom: 25px;
    margin-top: 30px;
}

.card_planning p {
    color: var(--responsive--light);

}

.card_planning_bottom {
    background-color: var(--responsive--light);
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 6rem;
    border-radius: 50px;
    padding: 1rem;
    gap: 1rem;
}

.card_planning_bottom img {
    width: 60%;
}

.card_planning_bottom i {
    border-radius: 100%;
    background-color: var(--responsive--primary);
    color: var(--responsive--dark);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.card_planning_bottom p {
    font-style: italic;
}

/* start style container expert partners */
.partners {
    gap: 2rem;
    align-items: center;
    color: var(--responsive--light);
    background-color: var(--responsive--primary);
}

.top_partners {
    text-align: center;
}

.top_partners h2 {
    color: var(--responsive--primary);
    margin-bottom: 10px;
    margin-top: 5px;
}

.top_partners span,
.top_partners p {
    padding: 0.8rem;
    font-size: 0.8rem;
}


/* start cards expert partners */
.card_left img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
}

.card_right span {
    font-weight: 600;
}

.card_right p {
    margin-bottom: 15px;
}

.card_right i {
    margin-right: 5px;
    margin-left: 5px;
}



/* start style section benefits */
#benefits {
    background-color: var(--responsive--primary);
}


.benefits {
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--responsive--light);
}


/* start style of cards in section benefits */
.container h1 {
    color: var(--responsive--light);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.benefits h2 {
    font-size: 60px;
    color: var(--responsive--primary);

}

.benefits h3 {
    color: var(--responsive--primary);

}

.benefits a {
    width: 90px;
    text-align: center;
    height: 25px;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
    color: var(--responsive--light);
    background-color: var(--responsive--primary);
}






/* mobile first  */


@media screen and (min-width: 768px) {

    .container_link a {
        display: none;

    }

    .container_link button {
        display: none;
    }

    .container_link i {
        display: inline;
    }

    .container {
        width: 80%;
    }

    .col-12 {
        width: 100%;
    }

}


/* Tablets*/

@media only screen and (min-width: 992px) {
    .container_link a {
        display: none;

    }

    .container_link button {
        display: none;
    }

    .container_link i {
        display: inline;
    }


    .col-sm-8 {
        width: calc((100% / 12) * 8);
    }

    .col-sm-4 {
        width: calc((100% / 12) * 4);
    }

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }

    .col-lg-6 {
        width: calc((100% / 12) * 6);
    }
}

/* desktop */

@media only screen and (min-width: 1200px) {

    .container_link a {
        display: inline;

    }

    .container_link button {
        display: inline;
    }

    .container_link i {
        display: none;
    }

    .col-sm-8 {
        width: calc((100% / 12) * 8);
    }

    .col-lg-6 {
        width: calc((100% / 12) * 6);
    }

    .col-sm-4 {
        width: calc((100% / 12) * 4);
    }

    .col-lg-4 {
        width: calc((100% / 12) * 4);
    }

}